html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body, body * {
  margin: 0;
}

/* * Importacion de fuentes personalizadas */

@font-face {
  font-family: Lato;
  src: url("assets/Lato-Black.ttf") format("ttf");
}
