<section class="container">
  <article class="user-panel">
    <h2 class="title">Bienvenido --</h2>
    <article class="balance">
      <h2>Saldo Disponible</h2>
    </article>

    <div class="btns-panel">
      <button type="button">
        <a href="#">
          <!-- <img src="../../../assets/img/plus-icon.svg" alt=""> -->
          Recargar Cuenta
        </a>
      </button>
      <button type="button">
        <a href="#">
          <!-- <img src="../../../assets/img/arrow-right-icon.svg" alt=""> -->
          Transferir
        </a>
      </button>
    </div>

    <button type="button" class="btn-pay">Pagar Facturas</button>
    
    <section class="btns-footer">
      <button type="button">
        <a href="#"><img src="../../../assets/img/home-icon.svg" alt=""></a>
      </button>
      <button type="button">
        <a href="#"><img src="../../../assets/img/contact-icon.svg" alt=""></a>
      </button>
      <button type="button">
        <a href="#"><img src="../../../assets/img/notification-icon.svg" alt=""></a>
      </button>
    </section>
  </article>


</section>