form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  max-width: 100%;
  min-height: 100vh;
  background-color: #000;
  color: #fff;

}

form  *{
  font-family: lato,serif;
}

fieldset {
  display: flex;
  flex-flow: column wrap;
  max-width: 1024px;
  min-width: 460px;
  width: 40%;

  padding: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: #171b25;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0.5rem auto 2.5rem;
}

input {
  width: 70%;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  margin: 0 auto 3rem;
  border: none;
}

.create-account {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.create-account a {
  text-decoration: none;
  color: #00b553;
}
.create-account a:hover {
  text-decoration: underline;
  color: red;
}

button {
  display: block;
  width: 50%;
  margin: 2rem auto;
  padding: 1rem;
  cursor: pointer;
  background-color: #00b553;
  color: #fff;
  border-radius: 0.4rem;
  font-weight: bold;
  border: none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.invalid {
  font-size: 1rem;
  color: tomato;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2.7rem;
  width: 70%;
  margin-bottom: 1.6rem;
  text-align: center;
  animation: show-message 1s 1 normal 0s ease-in-out both;
}
